* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none !important;
    text-decoration: underline;
    color: white;
}

.logo {
    width: 70px;
    height: 70px;
}

img {
    float: left;
}

.header {
    background-color: orange;
    height: 80px;
    display: flex;
}

.header h1 {
    color: white;
}

.footer {
    background-color: orange;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
}